<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='icon' href='/images/courtney.png' />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="member container">
    <%- include('header'); -%>
    <div class="member-info-container">
    <h1><%= title %></h1>
    <% if(!user.member) { %>
        <form method="post" action="/member">
            <div class="field">
                <label for="passcode">Passcode</label>
                <input id="passcode" type="password" name="passcode" required placeholder="Enter passcode">
                <div style="height: 1.75rem;">
                <% if(locals.passcodeError) { %>
                    <p class="error-color"><%= locals.passcodeError %></p>
                <% } %>
                </div>
            </div>
            <button>Submit</button>
        </form>
        <% if(locals.errors) { %>
            <p><%= locals.errors %></p>
        <% } %>
    <% } else { %>
        <div>
            <h2 class="member-text">You're a member! Death to Squishies! Please listen to our mission statement <a href="https://www.youtube.com/watch?v=xQFvUQA4p4U" target="_blank">here</a>.
                Or, head back to our <a href="/">homepage</a>.
            </h2>
            <a href="/">
                <img src="/images/army.avif" alt="Courtney Gears" width="100%">
            </a>
        </div>
    <% } %>
    </div>
    <%- include('footer'); -%>
    </div>
</body>
</html>