<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='icon' href='/images/courtney.png' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
   <div class="container">
    <%- include('header'); -%>
      <% if (messages.length > 0) { %>
        <div class="messages-container">
          <h2 style="margin-top:8px;">Posts</h2>
        <% if(user) { %>
          <a href="/create-message">
            <button style="width: 8rem; padding: 1rem;">Add message</button>
          </a>
        <% } %>
          <% if (!user || !user.member){ %>
            <div class="message-container">
              <div class="message-container-inner-left">
                <div class="inner-avatar">
                  <img src="/images/courtney.png">
                  <p><strong class="username">Courtney Gears</strong></p>
                </div>
              </div>
              <div class="inner-right">
                <h4 class="message-title">Hello, Robots!</h4>
                <p class="message-text">Create an account and log in to add a message! Then, you must enter a passcode to become a member of Robots Only. (Organics not allowed.)</p>
                  <p class="date">Some point in time</p>
              </div>
            </div>
          <% } %>

          <% for(var i = 0; i < messages.length; i++) { %>
            <div class="message-container">
              <div class="inner-left">
                <% if(!user || !user.member) { %>
                
                  <div class="anon">
                    <img src="/images/robot.png">
                    <strong class="message-username">Anonymous</strong>
                  </div>
                <% } else { %>
                  <% if(user && user.member) { %>
                 
                    <div class="inner-avatar">
                      <% if(messages[i].user.avatar === "courtney") { %>
                        <img src="/images/courtney.png">
                      <% } if(messages[i].user.avatar === "baymax") { %>
                        <img src="/images/baymax.png">
                      <% } if(messages[i].user.avatar === "bender") { %>
                        <img src="/images/bender.jpeg">
                      <% } if(messages[i].user.avatar === "clank") { %>
                        <img src="/images/clank.webp">
                      <% } if(messages[i].user.avatar === "r2d2") { %>
                        <img src="/images/r2d2.jpg">
                      <% } if(messages[i].user.avatar === "wall-e") { %>
                        <img src="/images/wall-e.png">
                        <% } %>
                        <strong><%= messages[i].user.username %></strong>
                    </div>
                  <% } %>
                <% } %>
              </div>

              <div class="inner-right">
                <% if(user && user.member) { %>
               
                  <h4 class="message-title"><%= messages[i].title %></h4>
                  <p class="message-text"><%= messages[i].text %></p>
                    <p class="date" title="<%= messages[i].date %>"><%= messages[i].date_formatted %></p>
                <% } else { %>
                  <h4 class="message-title"><%= messages[i].title %></h4>
                  <p class="message-text"><%= messages[i].text %></p>
                      <p class="date">Some point in time</p>
                <% } %>
                <% if(user && user.admin) { %>
           
                  <div class="delete-message">
                    <form action="/" method="POST">
                      <input id="messageId" type="hidden" name="messageId" required value="<%= messages[i]._id %>">
                      <button type="submit">Delete</button>
                    </form>
                  </div>
                <% } %>
              </div>
            </div>
          <% } %>
        </div>
      <% } else { %>
        <div class="messages-container" style="align-items: center;">
          <h2>No posts yet. Create one now!</h2>
          <% if(!user) { %>
            <a href="/log-in">
              <button style="width: 8rem; padding: 1rem;">Add message</button>
            </a>
          <% } else { %>
            <a href="/create-message">
              <button style="width: 8rem; padding: 1rem;">Add message</button>
            </a>
          <% } %>
        </div>
      <% } %>
      <%- include('footer'); -%>
   </div>
  </body>
</html>