<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='icon' href='/images/courtney.png' />
  <link rel='stylesheet' href='/stylesheets/sign-up.css' />
  <link rel='stylesheet' href='/stylesheets/forms.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <main class="sign-up container">
  <%- include('header'); -%>
  <div class="container">
  <h1>Sign Up</h1>
  <div>Already registered? <a href="/log-in">Log in</a></div>
  <form method="post" action="/sign-up">
    <div class="field">
    <label for="username">Username<span title="required">*</span></label>
    <input name="username" placeholder="Enter username" type="text" required/>
      <% if(locals.error) { %>
        <p class="error-color"><%= locals.error %></p>
      <% } %>
    </div>

    <div class="field">
    <label for="password">Password<span title="required">*</span></label>
    <input name="password" type="password" required placeholder="Enter password"/>
    </div>

    <div class="field">
      <label for="password">Confirm Password<span title="required">*</span></label>
      <input name="confirmPassword" type="password" required placeholder="Enter password again"/>
      <% if(locals.passwordConfirmationError) { %>
        <p class="error-color"><%= locals.passwordConfirmationError %></p>
      <% } %>
    </div>
    <div class="avatar-container">
      <div class="avatar-select-text">Select an avatar:</div>
  
    <div class="avatars">
      <input type="radio" name="avatar" id="clank" value="clank"/>
    <label for="clank" class="avatar-box">
      <img src="/images/clank.webp" alt="Clank" class="avatar"/>
    </label>
    <input type="radio" name="avatar" id="baymax" value="baymax" required>
    <label for="baymax"><img src="/images/baymax.png" alt="Baymax" class="avatar"></label>
    
    <input type="radio" name="avatar" id="bender" value="bender" required>
    <label for="bender"><img src="/images/bender.jpeg" alt="Bender" class="avatar"></label>
    
    <input type="radio" name="avatar" id="r2d2" value="r2d2" required>
    <label for="r2d2"><img src="/images/r2d2.jpg" alt="R2-D2" class="avatar"></label>
    
    <input type="radio" name="avatar" id="wall-e" value="wall-e" required>
    <label for="wall-e"><img src="/images/wall-e.png" alt="wall-E" class="avatar"></label>
    
    <input type="radio" name="avatar" id="courtney" value="courtney" required>
    <label for="courtney"><img src="/images/courtney.png" alt="Courtney Gears" class="avatar"></label>
    </div>
    </div>
    <div class="button-container">
      <button >Sign Up</button>
    </div>
  </form>
  </div>
  </div>
  <% if(locals.errors) { %>
    <p class="error-color"><%= locals.errors %></p>
  <% } %>
</div>
<%- include('footer'); -%>
</div>
  </main>
</body>
</html>